.idea/

.DS_Store
*/.DS_Store

.sass-cache/
.sass-cache/*
scss/.sass-cache/

*css.map
node_modules
.cache
.parcel-cache

dist
parcel-bundle-reports
_old-versions
*/_old-versions
src_old
*/src_old
_src_old
*/_src_old
