.bonus {
  &__container {
    padding-top: 2.8rem;
    @media (min-width: $mobile) {
      padding-top: 4.4rem;
    }
  }

  &__title {
    @include section-title-main;
    margin-bottom: 1.6rem;
  }
}

.friend-selector {
  position: relative;
  margin-top: -3rem;
  margin-bottom: 3rem;

  .selector {
    &__line {
      position: absolute;
      top: 50%;
      width: 100%;
      user-select: none;
      pointer-events: none;
      .line {
        height: 1rem;
        width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;
        background: $color-light;
        &__indicator {
          position: absolute;
          top: 0;
          left: 0;
          width: 13%;
          height: 100%;
          background: $color-blue;
          transition: 0.12s ease-in;
        }
      }
    }
    &__controls {
      display: flex;
      justify-content: space-between;
    }
    .control--item {
      cursor: pointer;
      position: relative;
      height: 14rem;
      margin-left: 8%;
      margin-right: 4%;
      width: 16%;
      -webkit-tap-highlight-color: transparent;
      padding-top: 11rem;
      box-sizing: border-box;
      @media (min-width: $mobile) {
        width: 8%;
      }

      &:before {
        @extend %ab;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/page/heart-white.png) no-repeat 50% 55%;
        background-size: contain;
        // filter: grayscale(1) brightness(1.4);
        opacity: 0.9;

        transition: 0.1s linear;
      }
      &._is-selected {
        &:before {
          // filter: grayscale(0%);
          opacity: 1;

          background: url(../img/page/heart-blue.png) no-repeat 50% 55%;
          background-position: 50% 55%;
          background-size: contain;
          transition: 0.3s linear;
        }
      }
      .caption {
        display: block;
        font: 400 2.2rem/1.11 $font1;
        transition: all 0.8s ease-in-out;
        text-align: center;
        user-select: none;
      }

      &:hover {
        .caption {
          transform: scale(1.1);
        }
      }
    }
  }
}

.counter {
  min-height: 24rem;
  padding: 3.6rem 1.8rem 1.8rem 1.8rem;
  box-sizing: border-box;
  margin-bottom: 2.4rem;
  border-radius: 1.2rem;
  box-shadow: 2px 0px 10px 0px #00000014;
  @media (min-width: $mobile) {
    padding: 2.4rem 2.4rem 0rem 2.4rem;
    border-radius: 3.2rem;
    margin-bottom: 4.3rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $mobile) {
      flex-direction: row;
      gap: 7%;
    }
    .column {
      &:first-of-type {
        flex: 100% 1 1;
        @media (min-width: $mobile) {
          flex: none;
          width: 70%;
        }
      }

      &:last-of-type {
        // flex: 25rem 0 0;
        // margin-left: 7%;
      }
    }
  }

  .counter-title {
    margin-bottom: 0.4rem;
    font-family: $font2;
    font-size: 1.9rem;
    line-height: 2.6rem;
    @media (min-width: $mobile) {
      font-size: 2.4rem;
      line-height: 3rem;
      margin: 0;
      margin-bottom: 3.6rem;
    }
  }
  .counter-result {
    // display: flex;
    // align-items: flex-end;
    // gap: 1rem;
    // @media (min-width: $mobile) {
    //   flex-direction: column;
    //   align-items: flex-start;
    // }
  }

  .column--right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0 !important;
    max-width: 95%;
    @media (min-width: $mobile) {
      flex-direction: column;
      max-width: 100%;
      width: 21%;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 38%;
    }

    .counter-result {
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      @media (min-width: $mobile) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .counter-title {
      max-width: 30%;
      font-size: 1.6rem;
      line-height: 1.85rem;
      @media (min-width: $mobile) {
        font-size: 2.4rem;
        line-height: normal;
        max-width: 100%;
        margin: 0;
      }
    }

    .counter-result__text {
      font: 700 1.8rem/1.8rem $font2;
      color: #e8e8ed;
      margin: 0;
      @media (min-width: $mobile) {
        font-size: 3.2rem;
        line-height: 3.7rem;
      }
    }

    .counter-result__value {
      font: bold 2.8rem/2.8rem $font2;
      .summary-value {
        min-width: 62%;
        display: inline-block;
        @media (min-width: $mobile) {
          font-size: clamp(2vw, 4.7rem, 3.3vw);
          line-height: 3.7rem;
        }
      }
    }
  }
}
